.group-sticky-cols {
    display: flex;
    position: sticky;
    left: 0;
    background-color: white;
    width: 375px;
    align-items: center;

}

.group-sticky-cols>*:not(.group-sticky-title-header) {
    height: 100%;
    display: flex;
    align-items: center;
}

.group-sticky-indicator {
    /* grid-column: 1; */
}

.group-sticky-checkbox {
    /* grid-column: 2; */
}

.group-sticky-title {
    /* grid-column: 3; */
    flex-basis: 300px;
    width: 300px;
}

.group-sticky-title-header {
    flex-basis: 300px;
    width: 300px;
    flex-grow: 1;
}

.group-sticky-details {
    /* grid-column: 4; */
}

.group-scrollable-row {
    display: flex;
}

.group-rows-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
}

.group-column {
    padding: .5rem 3rem;
    width: 350px;
    flex-basis: 350px;
}

.group-column-hover:hover {
    background-color: #eee;
}

.group-header {
    width: max-content;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: white;
    height: 100%;
}

.group {
    padding-left: 1em;
    margin: 6em 0;
}

.group-content {
    padding-left: 1em;
}