.group-sticky-cols {
    display: flex;
    /* grid-template-columns: 15px 20px minmax(50px, 400px) 50px; */
    align-items: center;
    position: sticky;
    left: 0;
    background-color: white;
}

.group-sticky-indicator {
    /* grid-column: 1; */
}

.group-sticky-checkbox {
    /* grid-column: 2; */
}

.group-sticky-title {
    /* grid-column: 3; */
    flex-basis: 300px;
    width: 300px;
}

.group-sticky-details {
    /* grid-column: 4; */
}

.group-scrollable-row {
    display: flex;
}

.group-rows-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
}

.group-column {
    padding: .5rem 3rem;
    width: 350px;
    flex-basis: 350px;
}

.group-header {
    width: max-content;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: white;
    height: 100%;
}

.group {
    padding-left: 1em;
}

.group-content {
    padding-left: 1em;
}